@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Oxygen&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Archivo', sans-serif;
  transition: .3s;
}

body { overflow-y: hidden; }

.wave {
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  padding-right: 0.2rem;
}

.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img img {
  width: 500px;
}

.login-container {
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 30px;
}

.avatar {
  width: 200px;
  position: relative;
  top: 50px;
}

form {
  width: 360px;
}

form h2 {
  font-size: 2.9rem;
  text-transform: uppercase;
  margin: 40px 0px;
  color: #333;
}

.input-div {
  display: flex;
  justify-content: center;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
  position: relative;
}

.input-div::after, .input-div::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: #F02C29;
  transition: .3s;
}

.input-div::after { right: 50%; }
.input-div::before { left: 50%; }

.input-div.focus .i i {
  color: #F02C29;
}
.input-div.focus div h5 {
  top: -5px;
  font-size: 16px;
}

.input-div.focus::after, .input-div.focus::before {
  width: 50%;
}

.input-div.one {
  margin-top: 0px;
}
.input-div.two {
  margin-bottom: 4px;;
}

.i {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
}

.i i {
  color: rgba(0,0,0,.5);
}

.input-div div {
  /* position: relative; */
  height: 45px;
}

.input-div div h5 {
  color: #999;
  font-size: 18px;
  position: absolute;
  left: 25px;
  top: 28px;
  transform: translateY(-50%);
  transition: .3s;
  /* display: none; */
}

.input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1.9px;
  left: 19.2px;
  border: none;
  outline: none;
  background: transparent;
  padding: 0.5rem .5rem 0.7rem;
  font-size: 1.2rem;
  font-family: 'Archivo', sans-serif;
  color: #555;
}

a {
  display: block;
  text-decoration: none;
  text-align: right;
  color: #999;
  font-size: .3s;
}
a:hover {
  color: #F02C29;
  text-decoration: underline;
}
a:active { transform: translateY(1px); }

.submit {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  margin: 1rem 0rem;
  font-size: 1.2rem;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #F02C29, red);
  color: #eee;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  background-size: 200%;
  transition: .5s;
}
.submit:hover {
  background-position: right;
}
.submit:active { transform: scale(0.9); }



/* RESPONSIVE ~ */
@media ( max-width: 1050px ) {
  /* .login-container {
    padding-left: 30px;
  } */
}

@media ( max-width: 1000px ) {
  form {
    width: 290px;
  }

  form h2 {
    font-size: 2.4rem;
    /* margin: 8px 0; */
  }

  .img img {
    width: 400px;
  }
}

@media ( max-width: 900px ) {
  body {
    overflow-x: hidden;
  }

  .img {
    display: none;
  }

  .container {
    margin: 0% 20%;
  }

  .wave {
    display: none;
  }

  .login-container {
    width: 50%;
    justify-content: center;
  }
}
